<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>こんにちは</p>
    <p>購入していただきありがとうありがとうございました。</p>
    <p>またの機会をお持ちしております。</p>
    <p><%= @url %></p>
  </body>
</html>